*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Nav   */
.nav p {
  font-size: 26px;
  color: #fff;
}

.nav img {
  position: relative;
  object-fit: cover;
  width: 100%;
}

.nav {
  position: relative;
    background-image: url("https://i.postimg.cc/KYs2T83m/pexels-elijah-o-donnell-3473569-1.jpg");
}

.nav h1 {
  color: #fff;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 42px;
  text-align: center;
}

/* Box */

.box {
  flex: 1;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.box ol {
  display: flex;
  color: #fff;
  list-style-type: none;
}

.box ol li {
  flex-direction: row;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 22px;
  align-content: space-between;
  justify-content: space-between;
}

.box ol li a {
  text-decoration: none;
  color: #fff;
}

.box ol li i {
  color: #fff;
  font-size: 32px;
}

.box ol li a:hover {
  opacity: 0.3;
}

.box-row {
  flex-direction:row;
    min-width:100%;
  display:flex;
}

/* Menu */

.menu {
  flex-direction: column;
  display: flex;
  background-color:#ecf0f1;

}

.menu h2 {
  text-align:center;
}

.menu p {
  text-align:center;
  padding: 0 65px 0 65px;
}

.menu .box-row img {
  height:100px;
  width:100px;
}

.menu i {
  border: 1px solid #ecf0f1;
 border-radius:50%;
  color:black;
  background-color:#bdc3c7;
width:124px;
  height:124px;
  font-size:64px;

}

.menu .menu-button {
  width:160px;
  height:45px;
  margin:auto;
  margin-bottom:60px;
  margin-top:60px;
  border-radius:15%;
  font-size:20px;
  background-color:#2ecc71;
  border-color:#2ecc71;
}

.menu .menu-button:hover {
  opacity:0.8;
  background-color:#16a085;
  color:#fff;
}

.menu .fas {
  padding:31px 0 0 31px;
}

/* Gallery */

.gallery .gallery-wrapper {
  display:flex;
  flex-direction:row;
}

.gallery .gallery-img {
  display:flex;
  flex:1;
  justify-content: center;
}

.gallery-img img {
    object-fit:cover;
      height:400px;
      width:100%;
}

.gallery .gallery-card {
display:flex;
flex:1;
flex-direction:column;
  justify-content: center;
  text-align:center;
}

.gallery .gallery-button {
  width:160px;
  height:45px;
  margin:auto;
  margin-bottom:60px;
  margin-top:60px;
  border-radius:15%;
  font-size:20px;
  background-color:#2ecc71;
  border-color:#2ecc71;
}

.gallery .container {
  flex-direction:column;
}

/* Founder */

.founder {
  background-image:url("https://i.postimg.cc/D0r1JWsB/pexels-pixabay-158827.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position:relative;
  min-height:600px;
}

.founder-box {
  padding:220px 38%;
  font-size:32px;
}

.founder-box p:first-child {
  color:blue;
  display: flex;
  flex-direction: row;
}

/* Overall */

body {
  display: flex;
    flex-direction:column;
    margin:0;
}

section {
  flex: 1;
  margin: 0;
}

.color-breeze {
  background-color:#dff9fb;
}

.color-green {
  background-color: #6ab04c;
}

.border-green {
  border: 20px solid;
  border-color: #badc58;
}

.border-blue {
  border: 20px solid;
  border-color: #c7ecee;
}

.container {
  min-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  padding: 0 20 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html {
  background-color: inherit;
}
